@{
    ViewBag.Title = "About";
}

<div class="main-content row">
    <div class="col-md-2">
    </div>
    <div class="col-md-8">
        <h2>What?</h2>
        <p>This sites is designed to be the canonical source of all knowledge on the history, inhabitants and world of Dustvale.</p>
        <p>Its hoards of information may come in handy to adventurers looking for fame or plunder, to sages seeking wisdom, or maybe just to historians seeking to learn what befell this cursed land in generations to come.</p>
    </div>
    <div class="col-md-2">
    </div>
</div>
