@{
    ViewBag.Title = "Home";
}

<div id="title">
    <h1>Dustvale</h1>
    <p class="lead">The Great Dunes welcome all adventurers</p>
    <br/>
    <br/>
    @Html.ActionLink("Register to learn more", "Register", "Account", null, new { @class = "btn btn-default" })
</div>