@{
    ViewBag.Title = "The Known World";
}

<div id="title">
    <h2>The Known World</h2>
</div>

<div class="main-content">
    The known world of Dustvale consists of some 200 square miles of habitable terrain, surrounding Lake Gorbi, the only known body of water and in turn surrounded by an endless desert. For almost a decade now, caravans have been making expeditions into the endless dunes in the hope of discovering life elsewhere, but without result. The latest expedition however has not returned. Are we on the boundary of a great discovery? Or have the explorers simply met an unenviable fate alone in the wastelands?
    <div class="map-container">
        <div id="world-map">
        </div>
    </div>
</div>


@Styles.Render("~/Content/world.css")