body {
    background: linear-gradient(to right, rgb(0,0,20), rgb(0,0,35), rgb(0,0,15), rgb(0,0,0));
    color: white;
    padding-top: 40px;
}

/* Set padding to keep content from hitting the edges */
.body-content, footer {
    padding-left: 15px;
    padding-right: 15px;
}

.main-content{
    padding-top: 75px;
}

.main-content p{
    font-size: 18px;
}

footer {
    background: black;
    min-height: 100px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.navbar {
    background: none;
    border: none;
}

.nav{
    font-size: 18px;
}

h1, h2, h3{
    text-align: center;
}

#title {
    text-align: center;
    padding-top: 100px;
}

.character-details {

}

.header-image{
    width: 100%;
    max-height: 300px;
    overflow: hidden;
}