@{
    ViewBag.Title = "History";
}

<div id="title">
    <h2>History Placeholder</h2>
</div>

<p>
    Dustvale has always lived up to its name.
    In places, the sand is almost thin enough to see strands of grass poking through the ground.
</p>