@* This should be included in the normal nav bar now that's been reduced in size.*@
<div class="navbar navbar-inverse">
    <div class="container">
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li>@Html.ActionLink("Character Admin", "Index", "Character")</li>
                <li>@Html.ActionLink("Location Admin", "CreateLocation", "World")</li>
            </ul>
        </div>
    </div>
</div>
