<footer class="footer">
    <div class="container">
        <ul>
            <li>@Html.ActionLink("About", "About", "Home")</li>
            <li>@Html.ActionLink("Characters", "CharacterList", "Character")</li>
        </ul>
    </div>
</footer>
