<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
            @*TODO Add icon here*@
            @if (Request.IsAuthenticated)
            {
                <li>@Html.ActionLink("Home", "Index", "World")</li>
                <input class="search" placeholder="Search" />
                <submit class="btn">Go</submit>
            }
            @if (User.IsInRole("Admin"))
            {
                <li>@Html.ActionLink("Admin", "Index", "Admin")</li>
            }
        </ul>
        @Html.Partial("_LoginPartial")
    </div>
</div>