@model WorldBuilder.ViewModels.CharacterViewModel

<img src="~/Content/Images/PlaceholderCharacter.jpg" />
<div class="characteristics">
    Gender: @Model.AvailableGenders.First(g => g.Value == Model.GenderId).Text
    <br/>
    Race: @Model.AvailableRaces.First(r => r.Value == Model.RaceId).Text
</div>