@model WorldBuilder.ViewModels.CharacterViewModel
@{
    ViewBag.Title = "Character Profile";
}

@Html.Partial("_AdminNavBar")
<div id="title">
    <h2>Here you can see character @Model.Name</h2>
</div>