@model WorldBuilder.ViewModels.CharacterViewModel
@{
    ViewBag.Title = "Character Profile";
}
<div class="container">
    <div id="title"class="col-md-10">
        <h2>@Model.Name</h2>
    </div>
    <div class="col-md-2">
        @Html.ActionLink("Edit", "EditCharacterProfile", "Character", new { id = Model.Id }, null)
    </div>
    <div class="character-display">
        <div class="notes col-md-7">
            @Model.Description
        </div>
        <div class="details col-md-5">
            @Html.Partial("_CharacterDetails")
        </div>
    </div>
</div>