@{
    ViewBag.Title = "Admin";
}
<div id="title">
    <h2>Admin Tasks</h2>

    <ul>
        <li>@Html.ActionLink("Character Admin", "Index", "Character")</li>
        <li>@Html.ActionLink("Location Admin", "CreateLocation", "World")</li>
    </ul>
</div>